
-- Remove category and supplier relationships from products table
ALTER TABLE public.products DROP COLUMN IF EXISTS category_id;
ALTER TABLE public.products DROP COLUMN IF EXISTS supplier_id;
ALTER TABLE public.products DROP COLUMN IF EXISTS category_name;
ALTER TABLE public.products DROP COLUMN IF EXISTS supplier_name;

-- Drop category and supplier tables
DROP TABLE IF EXISTS public.categories CASCADE;
DROP TABLE IF EXISTS public.suppliers CASCADE;
